app = "backend-weathered-voice-4887"

[[services]]
  internal_port = 21
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 21, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 22
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 22, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 3389
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 3389, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 3306
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 3306, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 6379
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 6379, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 27017
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 27017, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 5021
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 5021, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 5022
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 5022, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 53389
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 53389, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 53306
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 53306, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 56379
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 56379, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 57017
  protocol = "tcp"
  processes = ["app"]
  ports = [{ port = 57017, handlers = ["proxy_proto"], address = "0.0.0.0" }]

[[services]]
  internal_port = 8080
  protocol = "tcp"
  processes = ["app"]
  ports = [
    { port = 80, handlers = ["http"], address = "0.0.0.0" },
    { port = 443, handlers = ["tls", "http"], address = "0.0.0.0" }
  ]

[[checks]]
  name = "http-health-check"
  type = "http"
  port = 8080
  interval = "10s"
  timeout = "2s"
  method = "GET"
  path = "/api/stats"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
